* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
}
body {
    overflow: hidden;
}

header {
    width: 100%;
    height: 131px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: fixed;

  
}

header div button {
    width: 217px;
    height: 68px;
    border: none;
    border-radius: 12px;
    background-color: #d09c5d;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: 5px 7px 25px #000000;
    cursor: pointer;
}
header div button:hover {
    background-color: rgba(208, 156, 93, 0.8);
}

header picture img {
    width: 250px;
}

#main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100vh;
    background-image: url(./assets/imgs/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.main-text {
    color: #fff;
    font-size: 2rem;
    width: 500px;
    margin-top: 180px;
    margin-left: 30px;
    text-transform: uppercase;
    text-align: center;
}
.main-text h1 {
    font-size: 6rem;
}
.main-text p {
    color: #d09c5d;
}

.card-images {
    width: 400px;
    height: 250px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #d09c5d;
    border-radius: 0 50px 0 0;
    padding: 30px;
}

.card-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

aside {
    width: 150px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(208, 156, 93, 0.7);
    border: 3px solid #fff;
    position: absolute;
    right: -150px;
    top: 200px;
    border-radius: 30px 0 0 30px;
    transition: 1s ease;
}

aside ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
aside ul li a svg {
    width: 100px;
    height: 60px;
}

aside ul li a .icon-playstation:hover path {
   fill: #07428F;
}
aside ul li a .icon-epic:hover path {
    fill: #000000;
}
aside ul li a .icon-steam:hover path {
    fill: rgba(42,71,94,1);
}
.open {
    right:0;
}